.TG{

    &_list {
        display: flex;
    }

    &_itemlist {
        width: 80%;
    }

    &_list_button {
        width: 20%;
        & > div{
            margin-bottom: 20px;
        }
    }
}
