

#TG_form{
    display:flex;
    flex-direction: row;
    width:100%;

    .first {
        width: 40%;
        border-right: $yellow 1px solid;

        &>div {
            padding-top:50px;
        }

        a {
            padding: 10px;
            display: block;
        }
    }

    .second {
        width: 40%;
        border-right: $yellow 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .third {
        width: 20%;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;

    }
}
.new_tournament{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.new_deck {
    display:flex;
}
