
html {
    //background-color: $primary-color;
    color: white;
    backdrop-filter: hue-rotate(16deg);
    min-height: 1000px;
    background-image:  url('../../Views/background.jpg');
    background-attachment: fixed;
    //background-size: cover;//
}
body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Monserrat', sans-serif;
    font-weight: 100;
    color: white;
}
#body {
    min-height: 500px;
    background-color: $half-black;
    padding: 20px;
}
#footer {
color: gray;
    background-color: $half-black;
    padding: 20px;
}

.button_sticky {
    position: sticky;
    top: 20px;
}
input[type="submit"] {
    border-width: 0;
    font-size:14px;
    &:hover {
        cursor:pointer;
    }
}
img.card {
    border-radius: 13px;
}
