#header {
    height: 80px;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.666));
    margin-top: 42px;
}

.title-tg {
    font-family: 'Monserrat', sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin-left: 42px;
    margin-top: 42px;
}