.menu {
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.666);
    border-bottom: 1px solid $yellow;

    a.item {
        color: white;
        text-decoration: none;
        letter-spacing: 4px;
        font-size: 20px;
        text-align: center;
        padding: 10px;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $yellow;
            text-decoration-style: solid;
        }
    }
}
