.menu {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      a{ 
          color: white;
          text-decoration: none;
          &:hover {
              text-decoration: underline;
          }
    .item {
        letter-spacing: 4px;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }}

}