.button {
    display:flex;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    max-width: 150px;
    position: fixed;
    left: 70%; // tmp - >1000px
    top: 50px;

    &-add {
        background-color: $yellow;
        color: black;

        left: 70%; // tmp - >1000px
        top: 50px;
        &:hover {
            background-color: #e2a400;
        } 

        &:before {
            content: "+";
            padding-right: 20px;
        }
    }
}
a.a_button {
    text-decoration: none;
}
