.button {
    display:flex;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    max-width: 150px;
    width: auto;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }

    &-add {
        background-color: $yellow;
        color: black;

        &:hover {
            background-color: #e2a400;
        }

        &:before {
            content: "+";
            padding-right: 20px;
        }
    }
}

input, textarea {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
